
.close{
    display: none;
}
.icon{
    display: none;
}

.header{
    width: 100%;
    height: 127px;
    background-color: #021F54;
    color: white;
    display: flex;
    
}
.header__caja-logo{
    display: grid;
    width: 180px;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.header__caja-logotipo{
    width: 140px;
    height: 70;
}
.header__caja-logotipoCelular{
    display: none;
}
.header__content{
    width: 100%;
    height: 100%;
}
.nav{
    width: 100%;
    height: 33px;
    background-color: #1A202C;
}
.nav ul{
    margin: 0;
    list-style: none;
    padding: 0;

    display: flex;
}
.nav ul li ul li{
    position: relative;
    z-index: 100000;
    
}
.nav ul li a{
    text-decoration: none;
    display: block;
    padding: 3px 31px;
    color: white;
    font-size: 14px;
}
.nav ul li a i{
    display: none;
}
.nav ul li:hover{
    background-color:#021F54;
      
}
.nav ul li:hover a{
    color: white;
    transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
}
/*INICIO DE LOSESTILOS DEL MENÚ DESPLEGABLE*/

 .nav ul li ul, .nav ul li ul li{
    display: none;
    width: 100%;
}
.nav ul li:hover > ul{
    display: block;
    
    
}
.nav > ul:hover{
    height: 33px;
}

.nav ul li ul li:hover a{
    margin-left: 3px;
    border-left: 1px solid #041f61;
    color: black;
    font-weight: bold;
    
    
}
.nav ul li ul li a > span{
    margin-left: -13px;
}
.nav ul li ul a{
    margin-left: 3px;
  }

.nav ul li:hover ul li{ 
    display: block;
  }
.nav ul li:hover > ul li {
    background-color: #041f61;
    width: 142px;
    padding: 8px;
    line-height: 30px;
    font-size: 15px;
    transition: all 500ms;
    
  }
  
.nav ul li ul li:hover {
    background-color: #F6E05E; 
  } 

/*FIN DE LOSESTILOS DEL MENÚ DESPLEGABLE*/
.form-control{
    width: 92%;
    border: 1px solid #ccc;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.logo-search{
    border-left: 1px solid #ccc;
    position: absolute;
    margin-left: 28%;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 4%;
    height: 38px;
}
.fa-search{
    color: black;
    font-size: 20px; 
}
.fa-user-circle,.fa-shopping-cart{
    font-size: 40px;
}
.header__content-info{
    display: flex;
    align-items: center;
    height: 74%;
    gap: 3%;   
}
.header__content-usuario {
    cursor: pointer;
    display: flex;
    align-items: center;
}
.header__content-usuario span{
    margin-left: 7px;
}
.header__content-user{
    display: flex;
    width: 52%;
    justify-content:end; 
    gap: 5%;
}

.fa-search,.fa-user-circle,.fa-shopping-cart{
    cursor: pointer;
}
.header__content-busqueda{
    margin-left: 5%;
    width: 40%;
}
.header__content-carrito{
    margin-right: 10%;
}

@media(max-width:1000px){
    .close{
        background-color: #01C778;
        height: 50px;
    }
    .close__items{
        align-items: center;
        cursor: pointer;
        
        float: right;
    }
    .close__items span{
        line-height: 50px;
        padding: 15px;
    }
    .logo-search{
        margin-left: 27%;
    }
    .d-flex{
        width: 100%;
    }
    .form-control{
        width: 94%;
    }
}
@media(max-width:890px){
    .nav{
        background-color: #FFFFFF;
        z-index: 2;
        height: 100vh;
        top: 0;
        width: 300px;
        left: 0;
        position: absolute;
    }
    
    .close{
        width: 300px;
        display: block;
        
    }
    .nav ul li span{
        color: #1A202C;
    }
    .nav ul{
        flex-direction: column;
    }
    .nav ul ul{
        display: none;
    }
    .nav ul li ul li{
        margin-left: 35px;
        display: block;
    }
    .nav ul ul li a i{
        width: 33px;
    }
    .nav ul ul li a span{
        margin-left: 3px;
    }
    .nav ul li:hover{
        background-color:white;     
    }
    .nav ul li a i{
        display: inline-block;
        color: black;
        
    }
    .nav ul li a .iconoFlechaArriba{
        display: none;
    }
    /*INICIO MENÚ RESPONSIVO*/
    .nav ul li:hover a{
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
    }
    .nav ul li ul a{
        margin-left: 3px;
        border-left: 0 solid red;
      }
    .nav ul li:hover ul{
        display: none;
        margin-left: 35px;
    }
    .nav ul li:hover ul li {
        all: unset;   
}
    .nav ul li ul li:hover a{
        margin-left: 3px;
        border-left: 0 solid #041f61;
        font-weight:normal;
}
    
/*FIN MENU RESPONSIVO*/

    .header{
        height: 90px;
    }
    .icon{
        width: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 28px;
    }
    .fa-user-circle,.fa-shopping-cart{
        font-size: 30px;
    }
    .header__caja-logotipo{
        display: none;
    }
    .header__caja-logo{
        position: absolute;
        width: 60px;
        height: 55px;
        margin-left: 46%;
    }
    .header__content-info{
        height: 100%;
    }
    .header__caja-logotipoCelular{
        display: block;
        width: 50px;
        height: 50px;
    }
    .logo-search{
        margin-left: 27%;
    }
    .d-flex{
        width: 100%;
    }
    .form-control{
        width: 100%;
    }
    .header__content-busqueda{
        margin-top: 48px;
        margin-left: 20%;
    }
    .d-flex{
        width: 150%;
    }
    .logo-search{
        margin-left: 46%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header__content-user{
        display: none;
    }
}
